---

---

<footer class="flex justify-between text-white font-sans">
  <span >built with <strong>{" <3 "}</strong> by <strong>kakashi</strong></span>
  <div class="flex gap-4">
    <a target="_blank" href="https://github.com/kakashi1210"><div>github</div></a>
    <a target="_blank" href="https://x.com/adityadafe"><div>x</div></a>
    <a target="_blank" href="https://www.linkedin.com/in/aditya-dafe-601a2a243/"><div>li</div></a>
  </div>
</footer>
