---
import Social from './Social.astro'
---

<footer class="mt-5 text-white">
  <hr/>
  <div class="flex ">
  <Social  platform="github" username="kakashi1210" /> 
  <Social platform="twitter" username="adityadafe" />
</div>
</footer>