<div class="text-white">
<div class="flex items-center">
<img src="./../../public/mypfp.jpg" height="50" width="50" class="rounded-full "/>
<span class="mx-5">Aditya dafe</span>
</div>
<nav class="nav-links">
<a href="/">Home</a>
<a href="/about/">About</a>
<a href="/blogs/">Blog</a>
</nav>
</div>