---
---



<div class='flex items-center max-w-[52rem] mt-10 mx-auto'>

<a href=''>
<img src='https://pfp-for-social-struggle.s3.ap-south-1.amazonaws.com/1690221382739.png' class='rounded-full h-16 w-16' />
</a>
<span class='font-sans font-bold text-2xl text-white ml-3'> Kakashifr </span>
</div>

<nav class='flex items-center  mt-5 max-w-[52rem] mx-auto'>


<a href="/" class='text-white hover:underline hover:underline-offset-4 '> Home </a>
<a href="/blog" class='text-white lg:ml-5 hover:underline hover:underline-offset-4'> Blog </a>
<a href="/projects" class='text-white lg:ml-5 hover:underline hover:underline-offset-4'> Projects </a>

</nav>
