---
const ogImage = import.meta.env.PUBLIC_OG_IMAGE
---

<nav class="flex flex-row justify-between items-center py-8">
  <div class="flex flex-row items-center">
    <img src="/android-chrome-512x512.png" class='rounded-full h-20 w-20' />
    <div class="flex flex-col ml-3">
      <span class='font-sans font-bold text-4xl text-white '> kakashifr </span>
        <small class="text-gray-600 dark:text-gray-500">
         IPA /kɑːˈkɑː.ʃi/ — カカシ 
      </small>
    </div>
  </div>

  <div class="flex flex-row items-center gap-4">
    <span class='font-sans font-bold text-2xl text-white ml-3'> blogs </span>
<button id="themeToggle" class="border border-slate-600 rounded-md h-9 w-9 hover:border-slate-50 transition-all hover:scale-105 duration-300"> </button>
  </div>
</nav>

