---
const {description,title} = Astro.props
import Plum from "../components/plum.vue"
import Grain from "../lib/grainsbg/Grain.astro"
---

<html lang="en">
  <head>

 <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />

  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="icon" type="image/png" href="/favicon.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
  <link rel="apple-touch-icon" type="image/png" href="/android-chrome-512x512.png" sizes="180x180" />
    <title>{title}</title>
  </head>
  <body class="bg-zinc-900">
    <div class="fixed top-0 bottom-0 left-0 right-0 pointer-events-none print:hidden" id="container">
    <canvas id="canvas" width="400" height="400" />
    </div>
    <div class="mx-auto max-w-container px-4">
    <slot/>
    </div>
    <Grain opacity={100}/>
    <Plum client:only/>
  </body>
</html>
